# exclude .gitignore and similar from the generated tarball
.git* export-ignore

# exclude folder
src export-ignore
gulp export-ignore
.github export-ignore
example export-ignore

# exclude CI configurations (useless outside the repo)
.babelrc export-ignore
.editorconfig export-ignore
.eslintrc.js export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.travis.yml export-ignore
.hound.yml export-ignore
.npmrc export-ignore
.prettierrc export-ignore
CHANGELOG.md export-ignore
codecov.yml export-ignore
gulpfile.js export-ignore
package.json export-ignore
LICENSE export-ignore
README.md export-ignore
webpack.config.js export-ignore
yarn.lock export-ignore
